@model VRGamingEvolved.Models.Purchase

<h1>Thank you for you Purchase</h1>




    <thead>
        <tr>
            <th>Purchase Quanitity</th>
            <th>Total</th>
            <th>Product</th>
            <th>username</th>
        </tr>
    </thead>

    <tbody>
    <table class="table table-dark table-striped">
        
            <tr>
                <td>
                @foreach (var line in Model.PurchasedItems)
                {
                    <tr>
                        <td class="text-center"> @line.Quantity</td>
                        <td class="text-left"> @line.Product.ProductName</td>
                        <td class="text-right"> @line.Product.Sell.ToString("c")</td>
                        <td> <a asp-action="DeleteCart" asp-route-id="@line.Product.ProductId">Delete</a></td>
                    </tr>
                }
                </td>
            </tr>
    </table>

<form action=""></form>
    </tbody>
<tfoot>
    <p>&copy; VRGamingEvolved</p>
</tfoot>