@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project is an online store that sells various VR products. Currently it is only selling games. Although it is using inheritance to create
        products, so it is possible to add more product types to the database. We were planning to do that, however with the extreme time constraints we 
        experienced from our other classes, we were not able to put more than 7 hours a week into the project sadly.
    </p>
</div>
