

@{
    ViewData["Title"] = "All Customers";
}

<h1>All Users</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    @foreach(var user in Model){
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>User Email</th>
            </tr>
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
            
        </thead>
        </table>
</div>
    }
}
else
{
    <h3>No customers present!</h3>
}